
<ion-view view-title="Home">
    <ion-content>

      <div class="list card" style="background-image: url(img/partly-cloudy.jpg); background-size:cover;" ng-show="hasDefaultStation">
        
        <div class="card-title item item-icon-right dark" ng-click="showOrHideWeatherDetails()">
          <h2><strong>{{defaultWeatherStation.city}}, {{defaultWeatherStation.country}}</strong></h2>
          <h3><strong> Last Sync {{defaultWeatherStation.lastSync}}</strong></h3>
          <i ng-hide="showWeatherDetails" class="icon"><h1>9&#8451;</h1></i>
        </div>

        <ion-slide-box ng-show="showWeatherDetails" class="card-subtitle dark">
            <ion-slide>
              <div class="box">
                <div class="item item-body">
                  <!-- <img class="full-image" src=""> -->
                  <div class="row">
                    <div class="col col-33"></div>
                    <div class="col col-33">
                      <h1>9&#8451;</h1>
                      <h3><strong>Feels like 8&#8451;</strong></h3>
                      <h2><strong>Partly Cloudy</strong></h2>
                    </div>
                    <div class="col"></div>
                  </div>    
                </div>
              </div>
            </ion-slide>
            
            <ion-slide>
              <div  class="box">
                <div class="item item-body">
                  <div style="background-color:rgba(255, 255, 255, 0.1);" class="row">
                    <div class="col">
                      <div class="row">
                        <div class="col col-25">
                          <i class="icon ion-compass"></i>
                        </div>
                      </div>
                      <strong>Wind</strong><br>
                      <small>19km/h SW<br></small>
                      <small>28km/h</small>
                    </div>
                    
                    <div class="col">
                      <div class="row">
                        <div class="col col-25">
                          <i class="icon ion-waterdrop"></i>
                        </div>
                      </div>
                      <strong>Humidity</strong><br>
                      <small>66%<br></small>
                    </div>
                    <div class="col">
                      <div class="row">
                        <div class="col col-25">
                          <i class="icon ion-speedometer"></i>
                        </div>
                      </div>
                      <strong>Pressure</strong><br>
                      <small>99.6kPa<br></small>
                    </div>
                    <div class="col">
                      <div class="row">
                        <div class="col col-25">
                          <i class="icon ion-eye"></i>
                        </div>
                      </div>
                      <strong>Visibility</strong><br>
                      <small>24km<br></small>
                    </div>
                  </div>
                  <br>
                  <div style="background-color:rgba(255, 255, 255, 0.1);" class="row">
                    <div class="col col-25"></div>
                    <div class="col">
                      <div class="row">
                        <div class="col col-25">
                          <i class="icon ion-paper-airplane"></i>
                        </div>
                      </div>
                      <strong>Air Quality</strong><br>
                      <small>Low Risk</small>
                    </div>
                    <div class="col">
                      <div class="row">
                        <div class="col col-25">
                          <i class="icon ion-gear-a"></i>
                        </div>
                      </div>
                      <strong>UV Report</strong><br>
                      <small>Low<br></small>
                    </div>
                    <div class="col col-25"></div>
                  </div>
                
                  <!-- this is for spacing bad practice!! -->
                  <div class="row">
                    <div class="col col-75"></div>
                    <div class="col"></div>
                  </div>
                  <div class="row">
                    <div class="col col-75"></div>
                    <div class="col"></div>
                  </div>
                  <div class="row">
                    <div class="col col-75"></div>
                    <div class="col"></div>
                  </div>
                  <div class="row">
                    <div class="col col-75"></div>
                    <div class="col"></div>
                  </div>
                </div>
              </div>
            </ion-slide>
          </ion-slide-box>
      </div>

      <div class="card" ng-hide="hasDefaultStation">
        <div class="item item-text-wrap">
          Please select a weather station from the list
          <div class="list">
            <label class="item item-input item-select">
              <div class="input-label">
                Stations
              </div>
              <select ng-model="defaultWeatherStation.value">
                <option value="{{station.id}}" ng-repeat="station in stations" >{{station.city}}, {{station.country}}</option>
              </select>
            </label>
            <button class="button button-full button-stable" ng-click="setDefaultStation()">
              Set Default Station
            </button>
          </div>
        </div>
      </div>

      <!-- new status card goes here -->
      <div class="card">
        <div class="list"> 
          <label class="item item-input">
            <textarea ng-model="post.text" rows="3" placeholder="Whats on your mind?"></textarea>
          </label>
          <div class="button-bar">
            <a class="button"><i class="icon ion-ios-camera"></i></a>
            <a ng-click="submitPost()" class="button"><i class="icon ion-paper-airplane"></i></a>
          </div>
        </div>
      </div>

      <!-- posts cards will go here -->
      <div class="list card dark" ng-repeat="post in posts" >
          <div class="item item-avatar">
              <img src='{{post.get("user").get("information").get("profilePhoto").url()}}'>
              <h2>{{post.get("user").get("information").get("firstName")}} {{post.get("user").get("information").get("lastName")}}</h2>
              <h3>{{post.get("location").Timestamp}}</h3>
          </div>
          <div class="item item-body">
              {{post.get("data").value}}
              <img ng-show="postHasImage_{{post.id}}" class="full-image" src="img/{{post.data.pic}}">
              <p>
                  <a class="light">{{post.get("likes").length}} Likes</a>
                  <a ng-click="showOrHidePost({{post}})" class="light">{{post.get("comments").length}} Comments</a>
              </p>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
              <a ng-show="showPostLiked_{{post.id}}" ng-click="likeUnlikePost(post)" class="tab-item">
                  <i class="icon ion-thumbsup"></i> Liked
              </a>
              <a ng-hide="showPostLiked_{{post.id}}" ng-click="likeUnlikePost(post)" class="tab-item">
                  <i class="icon ion-thumbsup"></i> Like
              </a>
              <a ng-click="showOrHidePost({{post}})" class="tab-item" ng-click="">
                  <i class="icon ion-chatbox"></i> Comment
              </a>
              <a class="tab-item">
                  <i class="icon ion-android-walk"></i> Navigate
              </a>
          </div>
          <hr>
          
          <div class="list" ng-repeat="comment in post.get('comments')" ng-show="showPost_{{post.id}}">
            <div class="item item-avatar">
                <img src="{{comment.get('user').get('information').get('profilePhoto').url()}}">
                <h2>{{comment.get("user").get("username")}}</h2>
                <p>{{comment.get("data").value}}</p>
            </div>  
            <hr>
          </div>

          <label style="background-color: #f5f5f5" class="item item-avatar item-input">
            <img src="{{profilePic}}">
            <!-- <input type="text" placeholder="Write a comment"> -->
            <form name="comment_form" ng-submit="submitComment(post)">
              <div class="list">
                 <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                      <input id="comment_{{post.id}}" class="" type="text" name="search_input" placeholder="Write a comment">
                      <button class="button-clear icon ion-android-send"></button>
                    </label>
                 </div>
              </div>
            </form>
          </label>
      </div>
    </ion-content>
</ion-view>
