
<ion-view view-title="DIY Stations">
	<ion-content>
        <!-- <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">All Ionic, Materialized</strong>
        </div> -->
        <div class="im-wrapper">
            <h4 class="border-top"><i class="icon ion-android-happy"></i> List of Stations</h4>
            
        	<input type="search" placeholder="Search" ng-model="searchText.$">
            
            <ion-item ng-repeat="station in stations | filter:searchText:strict" class="item-icon-right item-avatar" ng-click="" type="item-text-wrap" href="#/app/stations/{{station.id}}">
				<img ng-src="{{station.image}}">
				<h2>{{station.city}}, {{station.country}}</h2>
				<p>Last Sync {{station.lastSync}}</p>
				<i class="icon {{station.weatherTumbnail}}"></i>
			</ion-item>
		</div>
	</ion-content>
</ion-view>

<!-- href="#/tab/chats/{{chat.id}}" -->s