<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button>
        <!-- <ion-icon name="md-more"></ion-icon> -->
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- new status card goes here -->
  <ion-card style="background-color: #8db9ea;">
    <div *ngIf="status_model.attachment_photo">
      <ion-item>
        <ion-thumbnail item-left>
          <img  src="{{status_model.attachment_photo_src}}"/>
        </ion-thumbnail>
        <ion-icon name="ios-trash" item-right (click)="removeImage()" ></ion-icon>
      </ion-item>
    </div>
    <ion-item >
      <ion-label floating>Whats on your mind ....</ion-label>
      <ion-textarea elastic [(ngModel)]="status_model.text" ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-camera" item-left (click)="selectStatusPic()"></ion-icon>
      <input hidden="true" id="status_pic" (change)="getPic($event)" type="file">
      <ion-badge ion-button item-right  (click)="addPost()"><ion-icon name="ios-send"></ion-icon>Post</ion-badge>
    </ion-item>
  </ion-card>

  <ion-card *ngFor="let post of feed?.posts let i = index">
    <ion-item>
      <ion-avatar item-left>
        <lazy-img src="{{post.user.image.url}}"></lazy-img>
      </ion-avatar>
      <h2>{{post.user.username}}</h2>
      <span item-right (click)="presentPopover($event,post)"><ion-icon name="more"></ion-icon></span>
    </ion-item>

    <ion-item *ngIf="post.type=='photo'">
      <ion-thumbnail item-left>
        <lazy-img  src="{{post?.images[0]}}"></lazy-img>
      </ion-thumbnail>
    </ion-item>

    <ion-card-content>
      <p>{{post.text}}</p>
    </ion-card-content>

    <ion-row>
      
      <ion-col center text-center (click)="likePost(post,i)">
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{post.likes_count}} Likes</div>
        </button>
      </ion-col>
      
      <ion-col center text-center (click)="openCommentsModal(post)">
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>{{post.comments_count}} Comments</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
